extends ../layouts/common.pug
block content
    h1.row Create

    if errors
        each error in errors
            .alert.alert-danger= error

    form(action='/users/create' method='POST', enctype="multipart/form-data")  
        .form-group 
            label.row(for='name') Name 
            input.form-control(type="text",name='name',value = values ? values.name : '')
        .form-group    
            label.row(for='phone') Phone 
            input.form-control(type="text",name='phone',value = values ? values.phone : '')
        .form-group    
            label.row(for='avatar') Avatar 
            input.form-control-file(type="file",name='avatar')
            
        button.btn.btn-primary Create