extends ../layouts/common.pug
block content  
    img(src='../../'+users.avatar,width="500px",height='250px',style='display:inline-flex')
    //- div(style='display:inline-flex;flex-direction: column;background-color:"#0db47a"')
    //-     h1(style='margin-left:5%; color:"white"') #{users.name}
    //-     h2(style='margin-left:5%') #{users.phone}


        